<section id="portfolio" class="py-5 bg-lightbg-white bg-2" data-aos="fade-up">
  <!-- <div class="container text-center">
    <h2 class="mb-5 fw-bold">Our Portfolio</h2>
    <div class="row g-4">
      <div class="col-md-4" *ngFor="let project of portfolio">
        <div class="card h-100 shadow-sm border-0" [@fadeIn]>
          <img src="{{ project.image }}" class="card-img-top" alt="Project">
          <div class="card-body">
            <h5 class="card-title fw-semibold">{{ project.title }}</h5>
            <p class="card-text text-muted">{{ project.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</section>